/* body{
  overflow:hidden;
} */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

/* Webkit-based browsers like Chrome and Safari */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.posts img{
    height: 15rem;
    width: 15rem;
    
}
body{
    background-color:black;
    /* color:white; */
}
.posts{
    margin-top: 10rem;
    margin-left:10rem;
    margin-right: 10rem;
    /* box-shadow: 0 2px 4px rgba(129, 22, 22, 0.1); Box shadow */
    /* width: calc(33.33% - 20px); Adjust as needed for your layout */
}
.posts{
  display:grid;
  grid-template-columns: 0.1fr 0.1fr ;
  gap:2rem;
 align-items: center;
 justify-content: center;
}
header{
    font-weight: bold;
    

}
.posts p{
    font-size: 0.9rem;
    margin-top:-2rem;
    text-align: center;
}
.posts p header{
    /* margin-top:1rem; */
    font-size: 1.5rem;
    margin-top:-1rem;
    color:#50b8e7;
}
.post{
    width:100%;
    text-align: center;
    color:#aec9d5;
}
.content{
    /* margin-top: 10rem;
    margin-left:10rem;
    margin-right: 10rem; */
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    padding:0.2rem;
    text-decoration: none;
    /* color:white; */
    font-weight: bold;
}
.post p{
    width:20rem;
}
.post p span{
    width:10rem;
    word-wrap: break-word;
}

.navtext{
    font-size:1.2rem;
    color:#50b8e7;
    /* margin-left:3rem; */
    
}
.logo{
    height: 8rem;
    width: 18rem;
}
nav{
    margin-top:5rem;
    margin-left:42rem;
}
.postheader a{
    color:#50b8e7;
}
.icons{
    height: 1rem;
    width:  1rem;
}
.profile-image{
    border-radius:10rem;
    height: 10rem;
    width: 10rem;
}
.sidebar {
    position: sticky;
    top: 0; /* Adjust this value as needed to control when the sidebar becomes sticky */
    float: right; /* Float the sidebar to the right */
    width: 250px; /* Adjust the width of your sidebar as needed */
    height: 100vh; /* Make the sidebar take up the full height of the viewport */
    background-color: black; /* Adjust the background color as needed */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a shadow for a visual effect */
    margin-top: -13rem;
  }
  
  /* Add any other styles you need for your sidebar content */
  .sidebar-content {
    padding: 20px;
  }
  
  /* Optional: Add a transition effect for smoother sticky behavior */
  .sidebar.transition {
    transition: top 0.3s ease-in-out;
  }
  
  .buttons{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* margin-left:3rem; */
  }
  .icon-button{
    /* padding:0.5rem; */
    width: 3rem;
    background-color: #50b8e7;
    margin:0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .post-detail{
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .post-Name{
    width: 70%;

  }
  .logtext{
    color:whitesmoke;
  }
  .contentpara{
    color:whitesmoke;

  }
  .createpost{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:8rem;
  }
  .emailicon{
    width:1rem;
    height:1rem;
  }
  .linkedinicon{
    width: 1rem;
    height: 1rem;
  }
 
  @media (max-width: 1025px) {
    .sidebar {
      display: none;
    }
    nav{
      margin-left:3rem;
      margin-top:2rem;
      font-size: 0.75rem;
    }
    .logo{
      height: 5rem;
      width: 9rem;

    }
    .post-name{
      width: 50%;
    }
  }
  @media(max-width:300px){
    .sidebar{
      display:none;
    }
    .logo{
      display: none;
    }
    .post p {
      width:10rem;
    }
  .contentpara{
    overflow-wrap: break-word;
    white-space: normal;
    
  }
      
  }
  