.posts img{
    height: 15rem;
    width: 15rem;
    
}
body{
    background-color: black;
    /* color:white; */
}
.posts{
    margin-top: 10rem;
    margin-left:10rem;
    margin-right: 10rem;
    box-shadow: 0 2px 4px rgba(129, 22, 22, 0.1); /* Box shadow */
    /* width: calc(33.33% - 20px); Adjust as needed for your layout */
}
.posts{
  display:grid;
  grid-template-columns: 0.1fr 0.1fr ;
  gap:2rem;
 align-items: center;
 justify-content: center;
}
header{
    font-weight: bold;
    

}
.posts p{
    font-size: 0.9rem;
    margin-top:-2rem;
    text-align: center;
}
.posts p header{
    /* margin-top:1rem; */
    font-size: 1.5rem;
    margin-top:-1rem;
    color:#50b8e7;
}
.post{
    width:100%;
    text-align: center;
    color:#aec9d5;
}
.content{
    /* margin-top: 10rem;
    margin-left:10rem;
    margin-right: 10rem; */
    margin-top:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    padding:0.2rem;
    text-decoration: none;
    /* color:white; */
    font-weight: bold;
}
.post p{
    width:10rem;
}
.post p span{
    width:10rem;
    word-wrap: break-word;
}

.navtext{
    font-size:1.2rem;
    color:#50b8e7;
    
}
.logo{
    height: 10rem;
    width: 20rem;
}
nav{
    margin-top:5rem;
}
.postheader a{
    color:#50b8e7;
}